<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/javaee" 
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		id="SGEWeb" version="3.0">
		
	<display-name>SGEWeb</display-name>
	
	<!-- Configure the default page -->
	<welcome-file-list>
		<welcome-file>/resources/view/public/login.jsf</welcome-file>
	</welcome-file-list>
		
	<!-- Configure the JSF servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Configure the JSF pattern to process JSF pages -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping of the error pages -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/resources/view/error.xhtml</location>
	</error-page>
	
</web-app>