@charset "utf-8";
/* CSS Document */

/**
 * @Autor: Bruno Costa
 * @Tag: p:subMenu;
 * @Motivo: icone sobrescrevendo o label;  
 **/
 
.ui-menu .ui-icon
{
	position: relative !important;
}

/** @SGE **/

.ui-inputtext, .ui-password, .hasDatepicker
{
	background: #fff !important;
	border: 1px solid #ff7909 !important;
	color: #555 !important;
}