@charset "utf-8";
/* CSS Document */

/*Definições do sistema*/

body
{
	margin: 0px;
	padding: 0px;
	color: #555;
	background-color: #f4f4f4;
/* 	background-color: #fff; */
	font-family:Verdana, Geneva, sans-serif;
	font-size: 13px;
}

img
{
	border:none;
}

a
{
	color:#7b7a7a;
}

a:visited
{
	
}

a:hover
{
	color: #555;
}

#envelope
{
	background-color: #fff;
	width:70%;
	margin:auto;
	-webkit-box-shadow: 7px 0px 20px #d6d4d4, -7px 0px 20px #d6d4d4;
	-moz-box-shadow: 7px 0px 20px #d6d4d4, -7px 0px 20px #d6d4d4;	
	box-shadow: 7px 0px 20px #d6d4d4, -7px 0px 20px #d6d4d4;	
}


/*---------------------------------------------*/

/*Topo*/

#toplogo
{
	margin:40px;
/* 	border:1px solid #000; */
}

#topBarra
{
	padding: 2px;
	height:35px;
	background-color: #ff7e09;
}

#linguagem
{
	float: right;
	margin-right: 30px;
	color: #fff;
}

#logo /*Imagem do Topo*/
{
	float: left;
	margin-left:45px;
}

#areaUsuario
{
	font-size: 15px;
	float: right;
	
	padding:20px;
	margin: 170px 20px 0px 0px;
	
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	
}

#areaUsuario a
{
	text-decoration: none;
}

#areaUsuario a:hover
{
	color: #ff7e09;
}
/*--------------------------------------------*/

/*Menu Principal------------------------------*/

#menuPrincipal
{
	margin:20px;
}

/*--------------------------------------------*/

/*Conteudo------------------------------------*/

#conteudo
{
	width:95%;
	font-size: 16px;
	padding:20px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin:auto;
}

.objDetalhe
{
	font-size: 19px;
	color: #ff7e09;
}

#pesquisaForm
{
	width: 700px;
	padding: 40px;
	margin: 15px;
	border-top: 20px solid #ff7e09;
	border-bottom: 20px solid #ff7e09;
}
/*Rodape-------------------------------------*/

#rodape
{
	height: 100px;
	font-size: 1.0em;
	text-align: center;
	padding:25px;
	margin-top:30px;
}

#passagem/*Passagem biblica do rodapé*/
{
	margin-bottom: 20px;
}

/*-------------------------------------------*/