@CHARSET "ISO-8859-1";

.container {
   min-height: 100%;
   position: relative;
}

footer {
	clear: both;
	position: absolute;
   	bottom: 0;
	width: 100%;
	height: 30px;   /* Height of the footer */
	text-align: center;
}

.sideBar {
	float: left;
}

.loginWrapper {
	width: 70%;
}

.loginWrapper .logo {
	float: left;
}

.loginForm {
	width: 38%;
}

.error {
	text-align: center;
	padding-top: 5%;
}

.erro-stacktrace {
	width: 90%;
	margin: auto;
}

.metro .icon-pt_BR:before {
  content: url('../resources/image/layout/icon-brazil.png');
  margin: 1px;
}
.metro .icon-en_GB:before {
  content: url('../resources/image/layout/icon-uk.png');
   margin: 1px;
}
.metro .icon-de:before {
  content: url('../resources/image/layout/icon-german.png');
   margin: 1px;
}
.metro .icon-ru:before {
  content: url('../resources/image/layout/icon-russia.png');
   margin: 1px;
}